/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.red-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.black-snackbar {
  --mdc-snackbar-container-color: rgb(47, 47, 47);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.green-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.purple-snackbar {
  --mdc-snackbar-container-color: #673ab7;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
